DB_HOST=
DB_PORT=5432
DB_NAME=academic_events_db
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

JWT_SECRET=
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000

ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

SWAGGER_USERNAME=
SWAGGER_PASSWORD=

SPRING_PROFILES_ACTIVE=dev